<table>
  <thead>
    <tr>
      <th>
        Tarea
      </th>
      <th>
        Título
      </th>
      <th>
        Descripción
      </th>
      <th>
        Operaciones
      </th>
    </tr>
    <tbody>
      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>
            {{#if done}}
                <a href="/toggleDone/{{_id}}">Hecha</a>
            {{else}}
                <a href="/toggleDone/{{_id}}">Sin hacer</a>
            {{/if}}
            <a href="/delete/{{_id}}">Eliminar</a>
            <a href="/edit/{{_id}}">Actualizar</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </thead>
</table>
